@import url(master.css);

/* SIDEBAR  */
#sidebar {
  background-color: var(--secondary-color);
  box-shadow: 3px 0px 7px -3px rgba(0, 0, 0, 0.35);
  position: fixed;
	max-width: 260px;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden auto;
	scrollbar-width: none;
	transition: all .2s ease;
	z-index: 20;
}

#sidebar.hide {
  left: -100%;
}

#sidebar.hide:hover {
	max-width: 260px;
}

#sidebar::-webkit-scrollbar {
  width: 5px;
}

#sidebar::-webkit-scrollbar:horizontal {
  height: 5px;
}

#sidebar .close {
  display: none;
  position: absolute;
  right: 0;
  z-index: 21;
  top: 10px;
  padding: 10px;
}

#sidebar .logo {
	font-size: 24px;
  letter-spacing: 1.5px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--main-color);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 20;
	background: var(--secondary-color);
	transition: all .3s ease;
	padding: 0 6px;
}

#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}

#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
  font-size: 18px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}

#sidebar .side-menu a {
	display: flex;
	align-items: center;
	color: var(--text-color);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sidebar .side-menu > .side-menu-item > a:hover {
	background: var(--hover-color);
}

.side-menu-item:hover > a,
.side-menu-item.active > a {
  color: var(--main-color) !important;
  background-color: var(--hover-color);
}

/* END SIDEBAR */

/* CONTENT */

#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}

#sidebar.hide + #content {
  width: calc(100%);
	left: 0;
}


/*  HEADER  */

.header {
  background-color: var(--secondary-color);
  box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.35);
  height: 64px;
	padding: 0 20px;
	display: flex;
  justify-content: space-between;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-right .profile-icons {
  border: 1px solid var(--primary-color);
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-right .profile {
  position: relative;
}

.profile-icons .user {
  font-weight: 500;
}

.profile-links {
  position: absolute;
  right: 0;
  top: 150%;
  min-width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px 20px;
  background-color: #FBFAF5 ;
  visibility: hidden;
  border-radius: 8px;
  opacity: 0; 
  transition: opacity 0.2s ease; 
}

.profile-links.show {
  visibility: visible;
  opacity: 1;
}

.profile-links::before {
  content: '';
  position: absolute;
  top: -30px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #FBFAF5 transparent;
  right:  5px;
}

.profile-links li {
  padding: 10px 0;
}
.profile-links span {
  font-size: 25px;
}

.profile-links li:hover > a,
.profile-links li:hover span {
  color: var(--main-color);
}

.profile-links a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

/* END HEADER */


/*  MAIN  */
.main-container {
  overflow: hidden;
  width: 100%;
	padding: 24px 20px 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}

.main-title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  width: 40px;
  height: 5px;
  background-color: var(--main-color);
}

.main-container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
  color: #fff;
}

.main-container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.cards .card a {
  color: #fff !important;
}

.main-container .cards .card:first-child {
  background-color: var(--primary-color);
}

.main-container .cards .card:nth-child(2) {
  background-color: var(--warning-color);
}

.main-container .cards .card:nth-child(3) {
  background-color: var(--success-color);
}

.main-container .cards .card:nth-child(4) {
  background-color: var(--danger-color);
}

.cards .card .card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card-inner > .material-icons-round {
  font-size: 35px;
  transition: .3s;
}

.cards .card:hover .card-inner > .material-icons-round {
  transform: scale(1.1);
}

/* Charts */

.charts {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.chart {
  position: relative;
  background: #fff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  max-width: 100%;
  height: 400px;
}

.chart > div {
  padding: 10px;
  margin: auto;
}

.chart > div,.chart canvas {
  width: 100% !important;
  height: 100% !important;
}

/* Charts */

/*  MEDIA QUERIES  */

@media screen and (max-width: 768px) {
  .main-container .cards {
    grid-template-columns: 2fr;
    gap: 10px;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 992px) {
  #sidebar.hide {
    left: -100%;
  }
  #sidebar .close {
    display: inline;
  }
  #content {
		position: relative;
    left: 0;
		width: calc(100%);
		transition: all .3s ease;
	}
  .charts {
    grid-template-columns: 1fr;
    height: auto;
  }
}