:root {
  --main-color: #004EDA;
  --secondary-color: #FFFFFF;
  --text-color: #373736;
  --hover-color: #e7e9f9;
  --primary-color: #2962ff;
  --danger-color: #d50000;
  --success-color: #2e7d32;
  --warning-color: #ff6d00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background-color: #ccc;
}

::-moz-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-corner {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: url(../material-icons/iconfont-ronded.woff2) format('woff2');
}

.material-icons-round {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1px;
  font-size: 30px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:visited {
  color: var(--text-color);
}
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}