:root {
  --main-color: #004eda;
  --secondary-color: #ffffff;
  --text-color: #373736;
  --hover-color: #e7e9f9;
  --primary-color: #2962ff;
  --danger-color: #d50000;
  --success-color: #2e7d32;
  --warning-color: #ff6d00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

::-moz-scrollbar {
  width: 8px;
}

::-moz-scrollbar-track {
  background-color: #ccc;
}

::-moz-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-corner {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 8px;
}

@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  src: url(../material-icons/iconfont-ronded.woff2) format("woff2");
}

.material-icons-round {
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1px;
  font-size: 25px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a:visited {
  color: var(--text-color);
}
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

span.show {
  color: var(--success-color);
}

span.show:hover {
  color: #45aa4a;
  transform: scale(1.1);
}

span.delete {
  color: var(--danger-color);
}

span.delete:hover {
  color: #e71d1d;
  transform: scale(1.1);
}

span.edit {
  color: var(--primary-color);
  transition: 0.3s;
}

span.edit:hover {
  color: #0b5ebd;
  transform: scale(1.1);
}

/* Start Delete Modal */

.delete-modal {
  text-align: center;
}

.delete-modal .delete-dialog {
  padding: 10px;
}

.delete-modal .text > p {
  font-size: 18px;
  margin-bottom: 6px;
}

.delete-modal .text .subtext {
  font-size: 16px;
}

.delete-modal .modal-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 15px 0 5px;
}

.delete-modal .modal-buttons button {
  padding: 5px 15px;
  border-radius: 6px;
}

.delete-modal .modal-buttons #confirmationButton {
  color: #fff;
  background-color: var(--danger-color);
}

.delete-modal .modal-buttons #confirmationButton:hover {
  background-color: #e71d1d;
}

.delete-modal .modal-buttons #cancelButton {
  background-color: #fff;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.delete-modal .modal-buttons #cancelButton:hover {
  background-color: #efefef;
}

/* End Delete Modal */

/* Start Pagination */

.pagination {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.pagination .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: fit-content;
  gap: 12px;
  padding: 20px;
  border-radius: 8px;
}

.pagination .link {
  height: 30px;
  width: 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  background-color: #f2f2f2;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .link:hover,
.pagination .link.active {
  background-color: var(--main-color);
  color: #fff;
}

/* End Pagination */

/* Start Main Loader */
#main-loader-container {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.main-loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #004dff;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, currentColor)
      )
      center/100% 4px,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor))
      center/4px 100%,
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 7px),
      currentColor calc(100% - 6px)
    ),
    radial-gradient(circle 7px, currentColor 94%, #0000 0);
  background: linear-gradient(currentColor 0 0) center/100% 4px,
    linear-gradient(currentColor 0 0) center/4px 100%,
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 7px),
      currentColor calc(100% - 6px)
    ),
    radial-gradient(circle 7px, currentColor 94%, #0000 0);
  background-repeat: no-repeat;
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  position: relative;
}

.main-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: inherit;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(0.5turn);
    transform: rotate(0.5turn);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(0.5turn);
    transform: rotate(0.5turn);
  }
}

/* End Main Loader */

/* Start Form */
.form-item textarea {
  resize: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 59px;
  padding: 15px;
  margin-top: 8px;
}

.form-item textarea::-webkit-scrollbar {
  width: 0;
}

.error {
  font-size: 12px;
  color: var(--danger-color);
}

.success {
  border-color: var(--success-color) !important;
}

.bounce {
  outline: 0;
  border-color: var(--danger-color) !important;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
/* End Form */

