@import url(filterBar.css);

.table-container {
  overflow: auto;
  min-height: 547px;
  position: relative;
  margin-bottom: 10px;
}

#reglements-section .table-container {
  min-height: 200px;
}

#users-section .table-container,
#charges-section .table-container {
  min-height: 400px;
}

.table-container::-webkit-scrollbar:horizontal {
  height: 5px;
}

.table {
  margin: auto;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.table thead tr:first-child {
  border-top: none;
  background: var(--primary-color);
  color: #fff;
}

.table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.table tr:nth-child(odd) {
  background-color: #ebf3f9;
}

.table th {
  display: none;
  text-transform: capitalize
}

.table td {
  display: block;
  position: relative;
  text-align: right;
}

.table td:first-child {
  margin-top: .5em;
}

.table td:last-child {
  margin-bottom: .5em;
}

.table-container .table tbody td.actions {
  padding: 10px !important;
}

.table td:before {
  content: attr(data-th);
  text-transform: capitalize;
  color: #000;
  position: absolute;
  left: 0;
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
}

.table th {
  text-align: left;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table tr {
  border-color: #bfbfbf;
}

.table th,
.table td {
  padding: .5em 1em;
}

.table .material-icons-round {
  font-size: 18px;
}


@media screen and (max-width: 601px) {
  .table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .table tbody tr:hover {
    background-color: #d8e7f3;
  }
  .table td:before {
    display: none;
  }
  .table th,
  .table td {
    display: table-cell;
    padding: .25em .5em;
    text-align: left;

  }
  .table th:first-child,
  .table td:first-child {
    padding-left: 0;
  }
  .table th:last-child,
  .table td:last-child {
    padding-right: 0;
  }
  .table th,
  .table td {
    padding: 1em !important;
  }
}
